<!--this is first banner start in service component-->
<div clas="d-flex justify-content-around flex-wrap">
  <img src="/assets/image/b-2-01-01-01.jpg" width="100%">
</div>
<!--this is first banner end in service component-->


<!--this is content section start-->
<div class=" text-center p-5">
  <h3>Ideal Solutions With Full-Cycle<br>
    <span>Software Development Services</span></h3>
</div>

<!--this is content section end-->

<!--this is card content section start-->
<div class="same">
<div class="text-center p-4">
<h3>What <span>Sets Us Apart</span> From Other <span>Software Development Companies</span></h3>
</div>
<!--this is card content section end-->

<!--this is first card section start-->
<div class="container  pointer-cursor">
  <div class="row justify-content-center">
    <div class="column">
      <div class="card ">
        <div class="justifty-content-center">
        <img src="/assets/image/mobile-app.png">
      </div>
        <h6>Paid Leave</h6>
      </div>
</div>
      <div class="column">
        <div class="card ">
        <div class="justifty-content-center">
          <img src="/assets/image/arduino.png">
        </div>
          <h6>Paid Leave</h6>
        </div>
</div>
<div class="column">
  <div class="card ">
    <div class="justifty-content-center">
    <img src="/assets/image/blockchain.png">
    </div>
    <h6>Paid Leave</h6>
  </div>
</div>
<div class="column">
  <div class="card ">
    <div class="justifty-content-center">
    <img src="/assets/image/ethereum.png" >
    </div>
    <h6>Paid Leave</h6>
  </div>
</div>
        <div class="column">
          <div class="card ">
        <div class="justifty-content-center">
            <img src="/assets/image/postman.png">
            </div>
            <h6>Paid Leave</h6>
          </div>
        </div>

          <div class="column">
            <div class="card ">
        <div class="justifty-content-center">
              <img src="/assets/image/swift.png">
        </div>
              <h6>Paid Leave</h6>
            </div>
</div>
    </div>
  </div>
  <!--this is first card section end-->

  <!--this is second card section start-->
  <div class="container text-center p-3  pointer-cursor">
    <div class="row justify-content-center">
      <div class="column">
        <div class="cardtwo ">
        <div class="justifty-content-center">
          <img src="/assets/image/openshift.png" >
        </div>
          <h6>Paid Leave</h6>
        </div>
  </div>
  <div class="column">
    <div class="cardtwo ">
      <div class="justifty-content-center">
      <img src="/assets/image/web-designing.png">
      </div>
      <h6>Paid Leave</h6>
    </div>
</div>
<div class="column">
  <div class="cardtwo ">
    <div class="justifty-content-center">
    <img src="/assets/image/magento.png">
    </div>
    <h6>Paid Leave</h6>
  </div>
</div>
<div class="column">
  <div class="cardtwo ">
    <div class="justifty-content-center">
    <img src="/assets/image/business-crew.png">
    </div>
    <h6>Paid Leave</h6>
  </div>
</div>
<!--this is button section start-->
<div class="text-center p-5">
  <button class="btn btn-warning">Let us call you</button>
</div>
<!--this is button section end-->
    </div>
  </div>
</div>
<!--this is second card section end-->


<!--this is text with image corner start-->
<div class="container p-5">
  <div class="d-flex justify-content-around">
  <div class="col-md-7">
    <h3>A Look into Our<br> <span>Software Development Process</span></h3>
    <div class="d-flex">
      <img src="/assets/image/development (2).png">
     <p class="link m-2">Scope of projects</p>
    </div>
    <div>
      <p>It all starts with a great idea - your idea! After you have carefully devised your idea, now it's our turn to make it real with meticulous planning.</p>
    </div>
    <div>
      <div class="d-flex flex-wrap">
        <img src="/assets/image/personal (1).png">
        <p class="m-1">Robust Solutions</p>
      </div>


      <div class="d-flex flex-wrap">
        <img src="/assets/image/design (1).png">
        <p class="m-1">Robust Solutions</p>
      </div>

      <div class="d-flex flex-wrap">
        <img src="/assets/image/design.png">
        <p class="m-1">Robust Solutions</p>
      </div>


      <div class="d-flex flex-wrap">
        <img src="/assets/image/code.png">
        <p class="m-1">Robust Solutions</p>
      </div>
      </div>


  </div>
  <div class="col-md-5">
    <img src="/assets/image/Project_158-04.jpg" width="100%">
  </div>
</div>
</div>
<!--this is text with image corner end-->

<!--this is second text with image corner start-->
<div class="container p-5">
  <div class="d-flex justify-content-around">
  <div>
    <h1>left</h1>
  </div>
  <div>
    <h1>right</h1>
  </div>
</div>
</div>
<!--this is second text with image corner end-->
