<div class="pag">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-between flex-wrap p-0 col-md-12">
      <div class="col-md-3 col-6">
        <a class="navbar-brand"  href="#"></a>
        <img class="float_left mr-5" src="/assets/image/Final_logo.png" class=" img justify-content-around">
      </div>
      <div class="">
        <button class="navbar-toggler my-3 justify-content-right flex-wrap " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon justify-content-right  flex-wrap"></span>
        </button>
        <nav class=" col-md-9 navbar navbar-expand-lg  justify-content-center">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto my-2 mb-3">
              <li class="nav-item dropdown " >
                <a class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLink="/company" routerLinkActive="active">
                  company
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item">people</a></li>
                  <li><a class="dropdown-item" >action</a></li>
                  <li><a class="dropdown-item">Something </a></li>
                </ul>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/career" routerLinkActive="active">career</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" routerLink="/service" routerLinkActive="active">service</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" routerLink="/">work</a>
              </li>
            <li class="nav-item">
              <a class="nav-link active"><span>pricing</span></a>
            </li>
          </ul>
        </div>
          </nav>
      </div>
  </div>
