hr.solid {
  border-top: 3px solid #bbb;
}


.bbb-wrapper .subcribe-form form {
  max-width: 450px;
  margin: 15px auto;
  position: relative
}

.bbb-wrapper .subcribe-form #subscribe input {
  width: 100%;
  height: 48px;
  background: rgb(197, 197, 197);
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0 30px;
  box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.2)
}

.bbb-wrapper .subcribe-form #subscribe #subscribe-button {
  height: 38px;
  padding: 0 30px;
  border-radius: 3px;
  border: none;
  position: absolute;
  right: 6px;
  top: 6px;
  font-size: 11px;
  color: rgb(13, 207, 241);
  cursor: pointer
}

.subscribe-message {
  color: #fff;
  float: left;
  margin-top: 10px;
  text-align: left;
  font-weight: 500;
  line-height: 19px
}

.color-bg {
  background: #3b4c61
}

#subscribe-button:hover {
  background: #2C3B5A;
  color: #fff
}
.balance{
  background-color: #2C3B5A;
  color: rgb(0, 183, 255);

}

.rel{
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-right: 20rem;
}
.img{
  width:180px;
}
