<div class="container-fluid">
  <div class="d-flex justify-content-around flex-wrap">
    <div class="col-md-5 my-5">
      <img src="/assets/image/Final_logo.jpg" class="img">
    </div>
    <div class="col-md-5 my-5">
      <img src="/assets/image/email.png">
      <p>www.devflovv.com| hello@devflovv.com </p>
    </div>


  </div>
  <div class="d-flex justify-content-around flex-wrap">
    <div class="col-md-3">
    <img src="/assets/image/canada.png">
    <h6>331 Measure Cres Milton,ON L9T7Y7, Canada <br>+1-613-981-9908<br>+1-613-292-8601</h6>

    </div>
    <div class="col-md-3">
      <img src="/assets/image/pakistan.png">
    <h6>55th Avenue Raiwind Rd,Thokar Niaz Baig Lahore<br>+92-3021447803</h6>
    </div>
      <!--
    <div class="col-md-3 justify-content-around flex-wrap">
      <h4>Newsletter</h4>
      <div class="bbb-wrapper fl-wrap">
        <div class="subcribe-form fl-wrap">
            <form id="subscribe" novalidate="true"> <input class="enteremail" name="EMAIL" id="subscribe-email" placeholder="Your Email" spellcheck="true" type="text"> <button type="submit" id="subscribe-button" class="subscribe-button color-bg"></button><label for="subscribe-email" class="subscribe-message"></label> </form>
            -->
            <div class="my-5 mb-5">
                <img src="/assets/image/aaaaaaaa.png" width="35px" >
                <img src="/assets/image/11-05.png" width="35px" >
                <a href="https://www.instagram.com/devflovv/"><img src="/assets/image/11-01.png" width="35px" ></a>
                <a href="https://www.facebook.com/devflovvv"><img src="/assets/image/11-03.png" width="35px" ></a>
                <img src="/assets/image/11-04.png" width="35px">
                <img src="/assets/image/11-06.png" width="35px">
              </div>
            </div>
            </div>
            <!--
        </div>
    </div>
</div>
    -->


  <div class="container-fluid balance d-flex justify-content-around flex-wrap">
    <div class="col-md-4 my-4">
      <h6>&#169; 2022 All Rights Reserved By DEVFLOVV</h6>
    </div>
    <nav class=" col-md-5 navbar navbar-expand-lg">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto my-2 mb-3">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active ml-5" id="navbarDropdown" routerLink="/company" routerLinkActive="active" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              company
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item">people</a></li>
              <li><a class="dropdown-item" >action</a></li>
              <li><a class="dropdown-item">Something </a></li>
            </ul>
          <li class="nav-item">
            <a class="nav-link active ml-4" aria-current="page" routerLink="career" routerLinkActive="active">career</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active ml-4" routerLink="/service" routerLinkActive="active">service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active ml-4">work</a>
          </li>
        <li class="nav-item">
          <a class="nav-link active  ml-4"><span>pricing</span></a>
        </li>
      </ul>

    </div>

</nav>
  </div>
